<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header >
    
  <ion-navbar class="menu-header">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    

    <ion-title class="menu-header main-title"><img src="assets/imgs/dm-accueil-icon-3.png" height="40px" width="40px" style="margin-right: 15px"><font face="aliensandcows">Neo Citoyens</font>  </ion-title>
  </ion-navbar>
</ion-header>





<ion-content padding>



<ion-card *ngFor="let decision of decisions|async" [class.card-expended]="decision.selected" [class.card-collapsed]="decision.selected === undefined || decision.selected === false">
  <ion-icon class="icon-decision" [name]="obtainIcon(decision.categories[0])"></ion-icon>
  <ion-card-header>
     {{decision.title}}
  </ion-card-header>
  <ion-card-content>
     {{decision.content}}
  </ion-card-content>
  <div *ngIf="decision.content.length > 120 && (decision.selected === undefined || decision.selected === false)" class="gradient" (click)="handleCardExpansion($event, decision)">
    <ion-icon  class="icon-arrow-card" name="arrow-dropdown"></ion-icon>
  </div>
  <div *ngIf="decision.selected === true" class="expended-gradient" (click)="handleCardExpansion($event, decision)">
    <ion-icon  class="icon-arrow-card" name="arrow-dropup"></ion-icon>
  </div>
</ion-card>


  
</ion-content>
