
<ion-menu (ionClose)="handleMenuClose()" [content]="content">
  <ion-header>
    <ion-toolbar  class="menu-header">
      <ion-title class="menu-header">Paramètres</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
    	<ion-navbar>
	  		<ion-title>Arrondissements</ion-title>
  		</ion-navbar>
  		<ion-item *ngFor="let arr of arrondissements">
        	<ion-label>{{ arr.name }}</ion-label>
	      	<ion-checkbox (ionChange)="handleArrondissementToggle(arr)" color="dark" checked="true"></ion-checkbox>
      	</ion-item>

    </ion-list>
    <ion-list>
    	<ion-navbar>
	  		<ion-title>Catégories</ion-title>
  		</ion-navbar>
      
      <ion-item *ngFor="let cat of categories">
      	<ion-toggle (ionChange)="handleCategoryToggle(cat)" color="rouge" checked="true"></ion-toggle>
        <ion-label>{{ cat.name }}</ion-label>
    	<ion-icon [name]="obtainIcon(cat.name)" item-start></ion-icon>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false">
</ion-nav>
